/trabalho_t1/target/
/trabalho_t2/target/
/trabalho_t3/target/
/trabalho_t1/log.txt
/trabalho_t2/log.txt
/trabalho_t3/log.txt
/trabalho_t1/temp_saida/
/trabalho_t2/temp_saida/
/trabalho_t3/temp_saida/






